# This requirement will be removed in the future, only here for testing
NBT==1.4.1
# We need a patched version of fs with support for not using keys
# in s3fs instead of regular fs
#fs==0.5.4
git+https://github.com/quarry-org/pyfilesystem.git@feature-no-s3-creds
boto==2.41.0
# Provided via pre-compiled packages 
# from https://github.com/Miserlou/lambda-packages
# These two will also be removed in the future
#Pillow==3.3.0
#numpy==1.11.1
